html, body {
    margin: 0px;
    padding: 0px;
}

* { color:#fff; text-decoration: none;}

.hand-writer {
    font-size: 40px;
}

body {
	background-color: #2A9B65;
    font-family: 'Roboto Mono', monospace;
    margin: none;

}

.container {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

a:link {
    text-decoration: none;
}

.body-head {
    width: 100%;
}

h1 {
	text-align: left;
	font-size: 28px;
    font-family: 'Work Sans', sans-serif;
    margin-left: 10px;
    color: white;
}

.message {
	padding-top: 100px;
	text-align: center;
	width: 100%;
	font-size: 2em;
	color: red;
}

img {
    padding-top: 10px;
    max-width: 70%;
    height: auto;
}

form {
	padding-top: 100px;
}


footer {
    padding-top: 30px;
	text-align: center;
	font-size: 12px;
	width: 100%;
}

.questions {
    width: 100%;
}

.pad-questions {
    padding-left: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

button {
    background-color: #8D74EA;
    border-radius: 12px;
    color: white;
    padding: 14px 40px;
    font-size: 20px;
    border: none;
}

button:hover {
    background-color: #432D93;
    cursor: pointer;
}

.note {
    padding-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-form {
    display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 100px;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #8D74EA;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #8D74EA;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
nav {
    background: #222;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.logo a,
.toggle a {
    font-size: 20px;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}
/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}

.username-auth {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;
}

.username {
    color: black;
    min-width: 300px;
    min-height: 50px;
    font-size: 20px;
    border: 4px solid #5a67d8;
    padding-left: 5px;
}

.weather-input {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
article {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 600px;
    background-color: #FFFF;
    border: 4px solid #5a67d8;
}

.is-50x50 {
    width: 50px;
    height: 50px;
}

.content {
    padding-top: 10px;
}

.title {
    color: black;
}

.subtitle {
    color: black;
}

.btn-wth {
    width: 150px;
    height: 50px;
    font-size: 14px;
}

.input {
    width: 200px;
    height: 60px;
    padding-left: 5px;
    font-size: 18px;
}

input:focus {
    background-color: #5a67d8;
    border: 4px solid #FFFF;
}
